<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TaskPulse</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/static/source/logo_rect.svg}" href="/static/source/logo_rect.svg">
    <link rel="stylesheet" th:href="@{/static/scss/style.css}" href="/static/scss/style.css">
</head>

<body>
    <div class="header">
        <div class="gap-24 flex-row" style="align-items: center;">
            <a class="logo-link" data-context-link="home" href="/"><img class="logo" th:src="@{/static/source/logo_rect.svg}" src="/static/source/logo_rect.svg"
                    alt="TaskPulse"></a>
            <div class="search-panel br-5">
                <img class="h-16" th:src="@{/static/source/icons/search.svg}" src="/static/source/icons/search.svg" alt="Поиск">
                <input class="text-basic" type="text" placeholder="Поиск">
            </div>
        </div>
        <ul class="gap-24 flex-row header-toolbar">
            <li>
                <button type="button" class="header-toolbar__action" id="headerCreateTaskBtn" aria-label="Создать">
                    <img class="h-32" th:src="@{/static/source/icons/plus.svg}" src="/static/source/icons/plus.svg" alt="">
                </button>
            </li>
            <li>
                <button type="button" class="header-toolbar__action" id="headerSettingsBtn" aria-label="Настройки">
                    <img class="h-32" th:src="@{/static/source/icons/settings.svg}" src="/static/source/icons/settings.svg" alt="">
                </button>
            </li>
            <li>
                <button type="button" class="header-toolbar__action" id="headerProfileBtn" aria-label="Профиль">
                    <img class="h-32" th:src="@{/static/source/icons/profile.svg}" src="/static/source/icons/profile.svg" alt="">
                </button>
            </li>
            <li>
                <a th:href="@{/auth/welcome}" href="/auth/welcome" class="header-toolbar__action" aria-label="Выйти">
                    <img class="h-32" th:src="@{/static/source/icons/logout.svg}" src="/static/source/icons/logout.svg" alt="">
                </a>
            </li>
            <li>
                <button type="button" class="theme-toggle header-toolbar__action" id="themeToggle" aria-label="Переключить тему">
                    <img class="h-32 theme-toggle__icon" th:src="@{/static/source/icons/lighttheme.svg}" src="/static/source/icons/lighttheme.svg" alt="" aria-hidden="true">
                </button>
            </li>
        </ul>
    </div>
    <div class="main-layout">
        <aside id="aside-container"></aside>
        <div class="app-container flex-row">
            <div class="column">
                <div class="card">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-all" aria-label="Перейти ко всем задачам">
                        <span class="text-header">Задачи к выполнению</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="tasks-to-do-grid" id="indexTodoTasks">
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Разработать модуль авторизации</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic pink">28.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Настроить непрерывную сборку и развёртывание</p>
                                    <p class="text-signature">Распределённая платформа служб</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic pink">30.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Оптимизировать запросы к базе данных</p>
                                    <p class="text-signature">Система учёта клиентов</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">02.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Обновить документацию по программному интерфейсу</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">05.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Разработать сводную панель показателей для руководителя</p>
                                    <p class="text-signature">Система учёта клиентов</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">07.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Написать модульные проверки для компонентов платформы</p>
                                    <p class="text-signature">Распределённая платформа служб</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">09.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Провести проверку кода пользовательского интерфейса</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">11.04.2026</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card last-actions">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-history" aria-label="Перейти к истории задач">
                        <span class="text-header">Последние действия</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="last-actions-grid" id="indexRecentActions">
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/lev_aksenov.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-260</p>
                                        <p class="text-basic" id="taskname">Переделать дизайн страниц Scrumban и Canban</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status neutral">Назначена</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">Сегодня, 14:16</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/dar_shved.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-259</p>
                                        <p class="text-basic" id="taskname">Разработать компонент для дашборда</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Аналитика продаж</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status inprocess">В работе</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">Вчера, 10:32</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/ks_glebko.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-258</p>
                                        <p class="text-basic" id="taskname">Оптимизировать запросы к базе данных</p>
                                    </span>
                                    <p class="text-signature" id="projectname">CRM-система</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status done">Завершено</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">23.03, 16:45</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/pol_ilyuchik.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-257</p>
                                        <p class="text-basic" id="taskname">Настроить CI/CD pipeline</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status inprocess">В работе</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">23.03, 09:15</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/pol_ilyuchik.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-256</p>
                                        <p class="text-basic" id="taskname">Обновить документацию API</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Аналитика продаж</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status exit">Отложено</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">22.03, 17:20</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-calendar" aria-label="Перейти к календарю и срокам">
                        <span class="text-header">Ближайшие события</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="events-grid">
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Завершение итерации</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic pink">28.03.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Разбор итогов работы команды</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic pink">30.03.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Планирование следующей итерации</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">02.04.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Весеннее сплочение команды</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">04.04.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Проверка кода при согласовании многоуровневой архитектуры</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">06.04.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Практикум по строгой типизации при разработке для обозревателя</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">08.04.2026</p>
                            </div>
                        </div>
            
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Выпуск версии 2.0</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">10.04.2026</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card team">
                    <button type="button" class="index-card-heading-link" data-index-nav="projects-team" aria-label="Перейти к команде и проектам">
                        <span class="text-header">Команда</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="team-members-list">
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/lev_aksenov.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Лев Аксенов</p>
                                <p class="text-signature">Разработчик</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/dar_shved.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Дарья Швед</p>
                                <p class="text-signature">Разработчик</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/ks_glebko.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Ксения Глебко</p>
                                <p class="text-signature">Тестировщик</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <img src="/static/source/user_img/pol_ilyuchik.jpg" alt="">
                            <div class="basic-and-signature">
                                <p class="text-basic">Полина Ильючик</p>
                                <p class="text-signature">Дизайнер</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <img src="/static/source/user_img/basic_avatar.png" alt="">
                            <div class="basic-and-signature">
                                <p class="text-basic">Оксана Кветко</p>
                                <p class="text-signature">Руководитель проекта</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{components/task_detail_modal_fragment :: taskDetailModal}"></th:block>
    <script src="/static/js/loadComponents.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/custom_calendar_range.js"></script>
    <script src="/static/js/task_detail_modal.js"></script>
    <script src="/static/js/create_task_modal.js"></script>
    <script src="/static/js/profile_modal.js"></script>
    <script src="/static/js/settings_modal.js"></script>
    <script src="/static/js/index.js"></script> 
</body>

</html>