<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TaskPulse</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/static/source/logo_rect.svg}" href="/static/source/logo_rect.svg">
    <link rel="stylesheet" th:href="@{/static/scss/style.css}" href="/static/scss/style.css">
</head>

<body>
    <div class="header">
        <div class="gap-24 flex-row" style="align-items: center;">
            <a class="logo-link" data-context-link="home" href="/"><img class="logo" th:src="@{/static/source/logo_rect.svg}" src="/static/source/logo_rect.svg"
                    alt="TaskPulse"></a>
            <div class="search-panel br-5">
                <img class="h-16" th:src="@{/static/source/icons/search.svg}" src="/static/source/icons/search.svg" alt="Поиск">
                <input class="text-basic" type="text" placeholder="Поиск">
            </div>
        </div>
        <ul class="gap-24 flex-row header-toolbar">
            <li>
                <button type="button" class="header-toolbar__action" id="headerCreateTaskBtn" aria-label="Создать">
                    <img class="h-32" th:src="@{/static/source/icons/plus.svg}" src="/static/source/icons/plus.svg" alt="">
                </button>
            </li>
            <li>
                <button type="button" class="header-toolbar__action" id="headerSettingsBtn" aria-label="Настройки">
                    <img class="h-32" th:src="@{/static/source/icons/settings.svg}" src="/static/source/icons/settings.svg" alt="">
                </button>
            </li>
            <li>
                <button type="button" class="header-toolbar__action" id="headerProfileBtn" aria-label="Профиль">
                    <img class="h-32" th:src="@{/static/source/icons/profile.svg}" src="/static/source/icons/profile.svg" alt="">
                </button>
            </li>
            <li>
                <a th:href="@{/auth/welcome}" href="/auth/welcome" class="header-toolbar__action" aria-label="Выйти">
                    <img class="h-32" th:src="@{/static/source/icons/logout.svg}" src="/static/source/icons/logout.svg" alt="">
                </a>
            </li>
            <li>
                <button type="button" class="theme-toggle header-toolbar__action" id="themeToggle" aria-label="Переключить тему">
                    <img class="h-32 theme-toggle__icon" th:src="@{/static/source/icons/lighttheme.svg}" src="/static/source/icons/lighttheme.svg" alt="" aria-hidden="true">
                </button>
            </li>
        </ul>
    </div>
    <div class="main-layout">
        <aside id="aside-container"></aside>
        <div class="app-container flex-row">
            <div class="column">
                <div class="card">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-all" aria-label="Перейти ко всем задачам">
                        <span class="text-header">Задачи к выполнению</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="tasks-to-do-grid" id="indexTodoTasks">
                        <div class="empty-message">Загрузка…</div>
                    </div>
                </div>
                <div class="card last-actions">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-history" aria-label="Перейти к истории задач">
                        <span class="text-header">Последние действия</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="last-actions-grid" id="indexRecentActions">
                        <div class="empty-message">Загрузка…</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <button type="button" class="index-card-heading-link" data-index-nav="tasks-calendar" aria-label="Перейти к календарю и срокам">
                        <span class="text-header">Ближайшие события</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="events-grid">
                        <div class="empty-message">Загрузка…</div>
                    </div>
                </div>
                <div class="card team">
                    <button type="button" class="index-card-heading-link" data-index-nav="projects-team" aria-label="Перейти к команде и проектам">
                        <span class="text-header">Команда</span>
                        <span class="index-card-heading-arrow" aria-hidden="true">
                            <img th:src="@{/static/source/icons/arrow_dark_move.svg}" src="/static/source/icons/arrow_dark_move.svg" alt="">
                        </span>
                    </button>
                    <div class="team-members-list">
                        <div class="empty-message">Загрузка…</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{components/task_detail_modal_fragment :: taskDetailModal}"></th:block>
    <script src="/static/js/loadComponents.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/custom_calendar_range.js"></script>
    <script src="/static/js/task_detail_modal.js"></script>
    <script src="/static/js/create_task_modal.js"></script>
    <script src="/static/js/profile_modal.js"></script>
    <script src="/static/js/settings_modal.js"></script>
    <script src="/static/js/index.js"></script> 
</body>

</html>