<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>TaskPulse</title>
    <link rel="icon" type="image/svg+xml" href="/static/source/logo_rect.svg">
    <link rel="stylesheet" href="/static/scss/style.css">
</head>

<body>
    <div class="header">
        <div class="gap-24 flex-row">
            <a href="/templates/pages/index.html"><img class="logo" src="/static/source/logo_rect.svg"
                    alt="TaskPulse"></a>
            <div class="search-panel border-dark-1 br-5">
                <img class="h-16" src="/static/source/icons/search.svg" alt="Поиск">
                <input class="text-basic" type="text" placeholder="Поиск">
            </div>
        </div>
        <ul class="gap-24 flex-row">
            <li><img class="h-32" src="/static/source/icons/plus.svg" alt=""></li>
            <li><img class="h-32" src="/static/source/icons/settings.svg" alt=""></li>
            <li><img class="h-32" src="/static/source/icons/profile.svg" alt=""></li>
            <li><img class="h-32" src="/static/source/icons/logout.svg" alt=""></li>
            <li><img class="h-32" src="/static/source/icons/lighttheme.svg" alt=""></li>
        </ul>
    </div>
    <div class="main-layout">
        <aside id="aside-container"></aside>
        <div class="app-container flex-row">
            <div class="column">
                <div class="card">
                    <p class="text-header">Задачи к выполнению</p>
                    <div class="tasks-to-do-grid">
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Разработать компонент авторизации</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">28.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Настроить CI/CD pipeline</p>
                                    <p class="text-signature">Микросервисная платформа</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">30.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Оптимизировать SQL-запросы</p>
                                    <p class="text-signature">CRM-система</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">02.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Обновить документацию API</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">05.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Разработать дашборд для руководителя</p>
                                    <p class="text-signature">CRM-система</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">07.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Написать юнит-тесты для сервисов</p>
                                    <p class="text-signature">Микросервисная платформа</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">09.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <p class="text-basic">Провести код-ревью фронтенда</p>
                                    <p class="text-signature">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">11.04.2026</p>
                            </div>
                        </div>
                    </div>
                    <button class="button-basic">Просмотреть все</button>          
                </div>
                <div class="card">
                    <p class="text-header">Ближайшие события</p>
                    <div class="events-grid">                
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">День спринта</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">28.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Ретроспектива команды</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">30.03.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Планирование следующего спринта</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">02.04.2026</p>
                            </div>
                        </div>
                
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Весенний тимбилдинг</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">04.04.2026</p>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Код-ревью архитектуры микросервисов</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">06.04.2026</p>
                            </div>
                        </div>
                        
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Воркшоп по TypeScript</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">08.04.2026</p>
                            </div>
                        </div>
                        
                        <div class="grid-row">
                            <div class="col-event">
                                <p class="text-basic">Релиз версии 2.0</p>
                            </div>
                            <div class="col-date">
                                <p class="text-basic light-gray">10.04.2026</p>
                            </div>
                        </div>
                    </div>
                    <button class="button-basic">К календарю</button>          
                </div>      
            </div>
            <div class="column">
                <div class="flex-row gap-32">
                    <div class="card activ-projects">
                        <p class="text-header">Активные проекты</p>
                        <div class="project">
                            <div class="basic-and-signature">
                                <p class="text-basic">Корпоративный портал</p>
                                <p class="text-signature">Разработка единой платформы для внутренних коммуникаций и документооборота</p>
                            </div>
                            <div class="project-percents">
                                <div class="done" style="width: 75%;">75%</div>
                                <div class="inprocess" style="width: 15%;">15%</div>
                                <div class="todo" style="width: 10%;">10%</div>
                            </div>
                        </div>
                        <div class="project">
                            <div class="basic-and-signature" >
                                <p class="text-basic">CRM-система</p>
                                <p class="text-signature">Управление взаимоотношениями с клиентами и автоматизация продаж</p>
                                <div class="project-percents">
                                    <div class="done" style="width: 45%;">45%</div>
                                    <div class="inprocess" style="width: 35%;">35%</div>
                                    <div class="todo" style="width: 20%;">20%</div>
                                </div>
                            </div>
                        </div>
                        <div class="legends">
                            <div class="legend">
                                <div class="circle bg-dark-green"></div>
                                <p>Завершено</p>
                            </div>
                            <div class="legend">
                                <div class="circle bg-green"></div>
                                <p>В работе</p>
                            </div>
                            <div class="legend">
                                <div class="circle bg-light-gray"></div>
                                <p>Не начато</p>
                            </div>
                        </div>
                        <button class="button-basic">Все проекты</button>              
                    </div>
                    <div class="card team">
                        <p class="text-header">Команда</p>
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/lev_aksenov.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Лев Аксенов</p>
                                <p class="text-signature">Разработчик</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/dar_shved.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Дарья Швед</p>
                                <p class="text-signature">Инженер-программист</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <div class="status-online"><img src="/static/source/user_img/ks_glebko.jpg" alt=""></div>
                            <div class="basic-and-signature">
                                <p class="text-basic">Ксения Глебко</p>
                                <p class="text-signature">Халтурщица</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <img src="/static/source/user_img/pol_ilyuchik.jpg" alt="">
                            <div class="basic-and-signature">
                                <p class="text-basic">Полина Ильючик</p>
                                <p class="text-signature">Дизайнер</p>
                            </div>
                        </div>
                        <div class="user-img-text">
                            <img src="/static/source/user_img/basic_avatar.png" alt="">
                            <div class="basic-and-signature">
                                <p class="text-basic">Оксана Кветко</p>
                                <p class="text-signature">Руководитель проекта</p>
                            </div>
                        </div>
                        <button class="button-basic">Вся команда</button>
                    </div>
                </div>
                <div class="card">
                    <p class="text-header">Активность команды</p>
                    <div id="chartRoot">
                        <svg id="miniChart" viewBox="0 0 1100 320" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Активность">
                    
                            <defs>
                    
                                <filter id="blur" x="-20%" y="-20%" width="140%" height="140%">
                    
                                    <feGaussianBlur stdDeviation="0.25" result="b" />
                    
                                    <feMerge>
                                        <feMergeNode in="b" />
                                        <feMergeNode in="SourceGraphic" />
                                    </feMerge>
                    
                                </filter>
                    
                            </defs>
                    
                            <g id="grid" class="mc-grid" aria-hidden="true">
                                <line x1="100" y1="24" x2="1040" y2="24" />
                                <line x1="100" y1="45.6667" x2="1040" y2="45.6667" />
                                <line x1="100" y1="67.3333" x2="1040" y2="67.3333" />
                                <line x1="100" y1="89.0" x2="1040" y2="89.0" />
                                <line x1="100" y1="110.6667" x2="1040" y2="110.6667" />
                                <line x1="100" y1="132.3333" x2="1040" y2="132.3333" />
                                <line x1="100" y1="154.0" x2="1040" y2="154.0" />
                                <line x1="100" y1="175.6667" x2="1040" y2="175.6667" />
                                <line x1="100" y1="197.3333" x2="1040" y2="197.3333" />
                                <line x1="100" y1="219.0" x2="1040" y2="219.0" />
                                <line x1="100" y1="240.6667" x2="1040" y2="240.6667" />
                                <line x1="100" y1="262.3333" x2="1040" y2="262.3333" />
                                <line x1="100" y1="284" x2="1040" y2="284" />
                            </g>
                    
                            <g id="yLabels" class="mc-ylabel" text-anchor="start">
                                <text x="0" y="28">14</text>
                                <text x="0" y="49.6667">13</text>
                                <text x="0" y="71.3333">12</text>
                                <text x="0" y="93.0">11</text>
                                <text x="0" y="114.6667">10</text>
                                <text x="0" y="136.3333">9</text>
                                <text x="0" y="158.0">8</text>
                                <text x="0" y="179.6667">7</text>
                                <text x="0" y="201.3333">6</text>
                                <text x="0" y="223.0">5</text>
                                <text x="0" y="244.6667">4</text>
                                <text x="0" y="266.3333">3</text>
                                <text x="0" y="288">2</text>
                            </g>
                    
                            <g id="xLabels" class="mc-xlabel"></g>
                    
                            <g id="linesLayer"></g>
                            <g id="pointsLayer"></g>
                    
                        </svg>                  
                    </div>
                    <div class="legends ">
                        <div class="legend">
                            <div class="circle bg-green"></div>
                            <p>Моя активность</p>
                        </div>
                        <div class="legend">
                            <div class="circle bg-light-gray"></div>
                            <p>Средняя активность команды</p>
                        </div>
                    </div>
                    <button class="button-basic">Просмотреть все</button>
                </div>
                <div class="card last-actions">
                    <p class="text-header">Последние действия</p>
                    <div class="last-actions-grid">                    
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/lev_aksenov.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-260</p>
                                        <p class="text-basic" id="taskname">Переделать дизайн страниц Scrumban и Canban</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status neutral">Назначена</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">Сегодня, 14:16</p>
                            </div>
                        </div>
                    
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/dar_shved.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-259</p>
                                        <p class="text-basic" id="taskname">Разработать компонент для дашборда</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Аналитика продаж</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status inprocess">В работе</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">Вчера, 10:32</p>
                            </div>
                        </div>
                    
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/ks_glebko.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-258</p>
                                        <p class="text-basic" id="taskname">Оптимизировать запросы к базе данных</p>
                                    </span>
                                    <p class="text-signature" id="projectname">CRM-система</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status done">Завершено</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">23.03, 16:45</p>
                            </div>
                        </div>
                    
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/pol_ilyuchik.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-257</p>
                                        <p class="text-basic" id="taskname">Настроить CI/CD pipeline</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Корпоративный портал</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status inprocess">В работе</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">23.03, 09:15</p>
                            </div>
                        </div>
                    
                        <div class="grid-row">
                            <div class="col-avatar"><img class="avatar" src="/static/source/user_img/pol_ilyuchik.jpg" alt=""></div>
                            <div class="col-task">
                                <div class="basic-and-signature">
                                    <span class="id-name">
                                        <p class="text-basic" id="tasknumber">WCL-256</p>
                                        <p class="text-basic" id="taskname">Обновить документацию API</p>
                                    </span>
                                    <p class="text-signature" id="projectname">Аналитика продаж</p>
                                </div>
                            </div>
                            <div class="col-status"><span class="status exit">Отложено</span></div>
                            <div class="col-date">
                                <p class="text-basic light-gray">22.03, 17:20</p>
                            </div>
                        </div>              </div>
                    <button class="button-basic">Вся история</button>          
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/loadComponents.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/index.js"></script> 
</body>

</html>