.button-basic,
.button-secondary,
.reset-filters-btn {
    @extend .border-green-1;
    @extend .text-basic;
    padding: $space-8 $space-24;
    @extend .br-5;
}

.button-small {
    @extend .border-green-1;
    @extend .text-signature;
    padding: $space-3 $space-24;
    @extend .br-5;
}

.button-basic, .reset-filters-btn, .button-small {
    background-color: $light-green;
    transition: box-shadow 0.2s ease;
    box-shadow: $space-1 $space-1 3px $dark-gray; 
}

.button-basic:hover,
.reset-filters-btn:hover,
.button-small:hover{
    box-shadow: none;
    background-color: $light-light-green;
}

.button-secondary {
    background-color: $light-light-green;    
    cursor: pointer;
}

.tab-btn {
    padding: $space-4 $space-12;
    @extend .text-basic;
    @extend .br-5;
    border: none;
    background: none;
}

.tab-btn.active {
    background: $green-transperent-15;
}

.tab-btn:not(.active):hover {
    background: $green-transperent-10;
}

.tabs-buttons{
    .tab-btn {
        display: flex;
        gap: $space-8;
        align-items: center;

        img {
            width: $space-24;
            height: $space-24;
        }
    }
}