$dark-green: #2A4D14;
$green: #61A039;
$green-transperent-10: rgba($green, 0.1);
$green-transperent-15: rgba($green, 0.15);
$pink: #F8085C;
$light-gray: #7F8C73;
$light-gray-transperent: #7f8c733b;
$light-green: #EEF7E9;
$light-light-green: #F6FBF2;
$dark-gray: #2D3229;
$black: #282D25;

$space-0: 0;
$space-1: 0.0625rem; 
$space-2: 0.125rem;
$space-3: 0.19rem;
$space-4: 0.25rem;
$space-8: 0.375rem; 
$space-12: 0.5625rem; 
$space-16: 0.75rem; 
$space-20: 1rem;
$space-24: 1.125rem;
$space-32: 1.5rem; 
$space-48: 2.25rem;
$space-64: 3rem;

$radius-sm: 0.3rem;
$radius-md: 0.6rem;
$radius-lg: 1rem;