<nav>
    <ul>
        <li class="item">
            <button class="nav-link text-header" data-context-link="home">TaskPulse</button>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-context-link="tasks">Задачи</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-context-link="projects">Проекты</button>
            </div>
            <ul class="submenu" id="teamProjectsMenu">
                <li><button class="nav-link" data-context-link="projects-org">Проекты организации</button></li>
                <li><button class="nav-link" data-context-link="projects-archive">Архивные проекты</button></li>
                <li><span class="text-signature">Загрузка...</span></li>
            </ul>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-context-link="team">Команда</button>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-context-link="events">События</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic nav-link--section" data-context-link="analytics-section">Аналитика</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link" data-context-link="analytics">Обзор</button></li>
                <li><button class="nav-link" data-context-link="analytics-reports">Отчёты</button></li>
                <li><button class="nav-link" data-context-link="analytics-charts">Диаграммы</button></li>
                <li><button class="nav-link" data-context-link="analytics-compare">Сравнение</button></li>
            </ul>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic nav-link--section" data-context-link="help-section">Помощь</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link" data-context-link="help-faq">Частые вопросы</button></li>
                <li><button class="nav-link" data-context-link="help-support">Поддержка</button></li>
                <li><button class="nav-link" data-context-link="help-docs">Документация</button></li>
            </ul>
        </li>
    </ul>
</nav>