<nav>
    <ul>
        <li class="item">
            <button class="nav-link text-header" data-context-link="home">TaskPulse</button>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-context-link="tasks">Задачи</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-context-link="projects">Проекты</button>
            </div>
            <ul class="submenu" id="teamProjectsMenu">
                <li><button class="nav-link">Проект "Список"</button></li>
                <li><button class="nav-link">Проект "Kanban"</button></li>
            </ul>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic">Команда</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Члены команды</button></li>
                <li><button class="nav-link">Роли и права</button></li>
                <li><button class="nav-link">История активности</button></li>
            </ul>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic">Аналитика</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Отчеты</button></li>
                <li><button class="nav-link">Диаграммы прогресса</button></li>
                <li><button class="nav-link">Сравнительный анализ</button></li>
            </ul>
        </li>
        <li class="item">
            <button class="nav-link text-basic">Документация</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" th:src="@{/static/source/icons/arrow_dark_cropped.svg}" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic">Помощь</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Частые вопросы</button></li>
                <li><button class="nav-link">Контактная поддержка</button></li>
                <li><button class="nav-link">Документация</button></li>

            </ul>
        </li>
    </ul>
</nav>