<nav>
    <ul>
        <li class="item">
            <button class="nav-link text-header" data-href="/templates/pages/index.html">TaskPulse</button>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-href="/templates/pages/tasks.html">Задачи</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-href="/templates/pages/projects.html">Проекты</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link" data-href="/templates/pages/board_list.html">Проект "Список"</button></li>
                <li><button class="nav-link" data-href="/templates/pages/board_kanban.html">Проект "Kanban"</button></li>
                <li><button class="nav-link">Диплом Scrum</button></li>
                <li><button class="nav-link">Диплом Scrumban</button></li>
                <li><button class="nav-link">Проекты организации</button></li>
                <li><button class="nav-link">Архивные проекты</button></li>
            </ul>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-href="/templates/pages/team.html">Команда</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Члены команды</button></li>
                <li><button class="nav-link">Роли и права</button></li>
                <li><button class="nav-link">История активности</button></li>
            </ul>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-href="/templates/pages/analitics.html">Аналитика</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Отчеты</button></li>
                <li><button class="nav-link">Диаграммы прогресса</button></li>
                <li><button class="nav-link">Сравнительный анализ</button></li>
            </ul>
        </li>
        <li class="item">
            <button class="nav-link text-basic" data-href="/templates/pages/docs.html">Документация</button>
        </li>
        <li class="item">
            <div class="item-header">
                <span class="arrow-wrapper">
                    <img src="/static/source/icons/arrow_dark_cropped.svg" alt="" class="arrow-img">
                </span>
                <button class="nav-link text-basic" data-href="/templates/pages/help.html">Помощь</button>
            </div>
            <ul class="submenu">
                <li><button class="nav-link">Частые вопросы</button></li>
                <li><button class="nav-link">Контактная поддержка</button></li>
                <li><button class="nav-link">Документация</button></li>

            </ul>
        </li>
    </ul>
</nav>