<div class="header">
    <div class="gap-24 flex-row">
        <a href="/templates/pages/index.html"><img class="h-32" src="/static/source/logo_dark.svg" alt="TaskPulse"></a>
        <div class="search-panel border-dark-2px br-5">
            <img class="h-16" src="/static/source/icons/search.svg" alt="Поиск">
            <input class="text-basic" type="text" placeholder="Поиск">
        </div>
    </div>
    <ul class="gap-24 flex-row">
        <li><img class="h-32" src="/static/source/icons/plus.svg" alt=""></li>
        <li><img class="h-32" src="/static/source/icons/settings.svg" alt=""></li>
        <li><img class="h-32" src="/static/source/icons/profile.svg" alt=""></li>
        <li><img class="h-32" src="/static/source/icons/logout.svg" alt=""></li>
        <li><img class="h-32" src="/static/source/icons/lighttheme.svg" alt=""></li>
    </ul>
</div>